<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url(https://pic.imgdb.cn/item/613b5d1e44eaada7393d8431.jpg);
            background-size: cover;
            color: pink;
            text-align: center;
        }
        
        h2 {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <h2>欢迎旅行者,登录请前往/index.html</h2>
</body>

</html>